<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <header>
            <h1 class = "lo">
                Angular Journey !!!
            </h1>
            <p class = "awe" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur soluta esse facilis iste vero minus fugit id numquam? Quibusdam tempore ipsa corrupti odit magnam nesciunt consequatur aliquid cupiditate, dolorum maxime. </p>
        </header>
        <card-item></card-item>
    </section>
</body>
</html>